{
    "singleQuote": true,
    "trailingComma": "none",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "bracketSpacing": false,
    "proseWrap": "never",
    "arrowParens": "avoid"
}
